{{> layout/header}}
<div class="container">
        <div class="mb-3 mt-3">상품명 : {{product.name}}</div>
        <div class="mb-3 mt-3">상품가격 : {{product.price}}</div>
        <div class="mb-3 mt-3">상품수량 : {{product.qty}}</div>
        <span><a href="/product/{{product.id}}/updateForm" class="btn btn-warning">수정하러가기</a></span>
    <span>
	<form action="/product/{{product.id}}/delete" method="post">
		<button class="btn btn-danger">삭제하기</button>
	</form>
	</span>
</div>
{{> layout/footer}}