{{> layout/header}}
<div class="container">
    <form action="/product/add" method="post">
        <div class="mb-3 mt-3">
            상품명 : <input name="name" type="text" placeholder="상품명을 적어주세요">
        </div>
        <div class="mb-3 mt-3">
            상품가격 : <input name="price" type="number"
                          placeholder="상품 가격을 적어주세요">
        </div>
        <div class="mb-3 mt-3">
            상품수량 : <input name="qty" type="number" placeholder="상품 수량을 적어주세요">
        </div>
        <button type="submit" class="btn btn-primary">상품등록완료</button>
    </form>
</div>
{{> layout/footer}}