/*width*/
.w12 {
    width: 1200px;
}

.w14 {
    width: 1400px;
}

.w16 {
    width: 1600px;
}

input {
    width: 50%;
    height: 38px;
}

input [type="text"] {
    _width: 100%;
}

input [type="number"] {

}